body{
  margin: 0;
  font-family: "Moon Flower Bold", sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
}

header button:first-of-type{
    z-index: 200;
    position: relative;
}

nav {
    order:-1;
}

nav ul {
    position: fixed;
    margin: 0;
    padding: 2.5em  0 0;

    top: 0; left:0;
    width: 50%;
    bottom:0;
    z-index: 100;
    transform:translateX(-100%);
    transition: .3s;
}
 
nav ul.open{
    transform:translateX(0);
}

nav ul li{
    list-style-type: none;
    align-content: space-around;
}
 
nav ul li a{
    padding: 1em;
    display: block;
    text-decoration:none; 
    color: white;
    background-color: #39CCBA;
    width: 23%;
    text-align: center;
    margin: 0;

}


img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
