img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#02C3BD;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 8px;
    margin: 0;
    text-decoration: none;

  }
  
  /* kleur veranderd zodra muis overheen gaat */
  li a:hover {
    background-color: #037171;
  }


